.formFilter
  padding: 0 0 40px 0
.formFilter__wraper > form
  display: flex
  gap: 20px


.formFilter__name
  font-family: 'Inter'
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 28px
  color: #818182
  width: 40px
.formFilter__item
  display: flex
  flex-direction: column
.formFilter__field
  background: #FFFFFF
  border: 1px solid #CED4DA
  border-radius: 4px
  width: 452px
  height: 38px
.formFilter__book
  width: 216px
  height: 38px
  background: #FFFFFF
  border: 1px solid #CED4DA
  border-radius: 4px
